body
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #116bb4
}

.header_div
{
    background: #116bb4;
    color: #ce2700;
}

.header_div img
{
    width: 100px
}

.Mili img
{
    width:20% ;
   
}

